---
import { Image } from 'astro:assets';
import siteConfig from '../data/site-config';
import profileImage from '../images/profile.png';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16 text-center">
  <div class="flex justify-center">
    <a href="/">
      <Image src={profileImage} height="200" alt="Ivy's profile image" />
    </a>
  </div>
  <div class="m-8">
    <h1 class="text-3xl leading-tight font-serif font-semibold sm:text-5xl sm:leading-tight">👋 Hi, I'm Ivy</h2>
    <h2 class="prose prose-dante sm:prose-lg mt-4">I'm a Y Combinator alumni.</h2>
    <h2 class="prose prose-dante sm:prose-lg mt-4">I specialize in AI and machine learning, with experience in backend and fullstack development, as well as data engineering.</h2>
    <h2 class="prose prose-dante sm:prose-lg mt-4">I help companies build AI driven products that customers love.</h2>
  </div>
</header>
